# This file collects all required third-party applications that are needed
# to run this project. Later you can install all these apps in a row
# using pip. Example::
#
#     pip3.6 install -t lib/python3.6 -r requirements.txt
#     ~/webapps/minecraft/apache2/bin/restart

Django==2.0.12
django-extensions
django-markdown-deux
ipython
requests